#barra {
    background-color: gray;
    height: 70px;
}

#conteudo {
    background-color: burlywood;
    height:750px;
    text-align: center;
}

#rodape {
    background-color: red;
    height: 70px;
}

#secao {
    display: flex;
    justify-content: center;
    background-color: greenyellow;

}
#quebracabeca{
    background-color: gray;
    height: 750px;
    justify-content: center;
}

table {

}